

@using DMS.Entities.SQLEntites
@{
    Layout = null;
}
<link href="~/Content/ztree/zTreeStyle.css" rel="stylesheet" />
<div class="page-title">
    <div class="title_left">
        <h3>
            用户管理
            <small>
                Some examples to get you started
            </small>
        </h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Table design <small>Custom design</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div id="toolbar">
                    <button id="addbtn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModel">
                        <i class="glyphicon glyphicon-plus"></i> Add
                    </button>
                    <button id="removebtn" class="btn btn-danger btn-sm" disabled>
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </button>
                </div>
                <table id="table"
                       data-toggle="table"
                       data-toolbar="#toolbar"
                       data-url="@Url.Action("GetRolePageList")"
                       data-height="auto"
                       data-side-pagination="server"
                       data-pagination="true"
                       data-show-columns="true"
                       data-show-toggle="true"
                       data-show-refresh="true"
                       data-page-size="20"
                       data-page-list="[20, 50, 100, 200]"
                       data-search="true"
                       data-content-type="application/json"
                       data-sort-name="CreateDate"
                       data-sort-order="desc"
                       data-row-style="rowStyle"
                       data-striped="true">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="RoleName" data-sortable="true" data-searchable="true">角色名称</th>
                        <th data-field="MenuIds" data-sortable="true">所属菜单</th>
                        <th data-sortable="true" data-formatter="ActionFormatter">操作</th>
                        @*<th data-field="CancelPolicyDesc" data-sortable="true" data-width="50">CancelPolicyDesc</th>
                    <th data-field="GuaranteePolicyDesc" data-sortable="true" data-width="50">GuaranteePolicyDesc</th>*@
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Menu</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="@Url.Action("AddRoles")" m method="POST" data-ajax="true" data-ajax-loading="#price-loadingid" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-success="addSuccess">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-6">
                            <input type="text" name="rolename" class="form-control" placeholder="角色名称" datatype="*1-16" errormsg="昵称至少1个字符,最多16个字符！">
                        </div>
                        <label class="col-sm-4 tips"><code class="Validform_checktip">*必填</code></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">菜单列表</label>
                        <div class="col-sm-6">
                            <input type="hidden" name="moduleids" id="menuhidn">
                            <ul id="menutree" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UpdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add Menu</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="@Url.Action("AddRoles")" m method="POST" data-ajax="true" data-ajax-loading="#price-loadingid" data-ajax-method="Post" data-ajax-mode="replace" data-ajax-success="addSuccess">
                    <input type="hidden" name="roleid" value="0" />
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-6">
                            <input type="text" name="rolename" class="form-control" placeholder="角色名称" datatype="*1-16" errormsg="昵称至少1个字符,最多16个字符！">
                        </div>
                        <label class="col-sm-4 tips"><code class="Validform_checktip">*必填</code></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">菜单列表</label>
                        <div class="col-sm-6">
                            <input type="hidden" name="moduleids" id="updatemenuhidn">
                            <ul id="updatemenutree" class="ztree"></ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap-table.min.js"></script>
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.core-3.5.min.js"></script>
<script src="~/Scripts/ztree/jquery.ztree.excheck-3.5.js"></script>
<script>
    var treeObj, treeObj1,
        $table = $("#table"),
        $remove = $("#removebtn"),
        selections = [];
    $table.on('check.bs.table uncheck.bs.table ' +
        'check-all.bs.table uncheck-all.bs.table', function () {
            $remove.prop('disabled', !$table.bootstrapTable('getSelections').length);
            // save your data, here just save the current page
            selections = getIdSelections($table);
            // push or splice the selections if you want to save all data selections
        });

    function ActionFormatter(v, r) {
        var h = [];
        h.push('<button type="button" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#UpdateModel" onclick="initModuleData(' + r.Id + ')">修改</button>');
        return h.join('');
    }

    $(function () {
        $(".form-horizontal").Validform({
            tiptype: 2,
            label: ".tips",
            showAllError: true,
            datatype: {
                "zh1-6": /^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
            }
        });
        initTree();
        $("#removebtn").click(function (e) {
            if (confirm("确定要删除吗？"))
                $.post("@Url.Action("DeleteRole")", { id: selections.join(',') }, function (data) { RefreshTable(); });
        });
    });

    function initTree() {
        if (treeObj != null)
            treeObj.destroy();
        var setting = {
            check: {
                enable: true,
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            async: {
                enable: true,
                url: '@Url.Action("GetModuleZtreeDataList")',
                otherParam: ["id", 0],
                type: "get"
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: 0
                }
            },
            callback: {
                onCheck: zTreeOnCheck
            }
        };
        treeObj = $.fn.zTree.init($("#menutree"), setting);
    }
    function initTree1(id) {
        if (treeObj1 != null)
            treeObj1.destroy();
        var setting = {
            check: {
                enable: true,
                chkboxType: { "Y": "ps", "N": "ps" }
            },
            async: {
                enable: true,
                url: '@Url.Action("GetModuleZtreeDataList")',
                otherParam: ["id", id],
                type: "get"
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pId",
                    rootPId: 0
                }
            },
            callback: {
                onCheck: zTreeOnCheck1
            }
        };
        treeObj1 = $.fn.zTree.init($("#updatemenutree"), setting);
    }
    function zTreeOnCheck(event, treeId, treeNode) {
        var nodes = treeObj.getCheckedNodes(true);
        var gids = [];
        $.each(nodes, function (i, r) {
            gids.push(r.id);
        });
        $('#menuhidn').val(gids.join(','));
    };
    function zTreeOnCheck1(event, treeId, treeNode) {
        var nodes = treeObj1.getCheckedNodes(true);
        var gids = [];
        $.each(nodes, function (i, r) {
            gids.push(r.id);
        });
        $('#updatemenuhidn').val(gids.join(','));
    };

    function initModuleData(id) {
        $.getJSON("@Url.Action("GetRoleById")", { id: id }, function (d) {
            initTree1(id);
            if (d.Status === 0 && d.Result != null) {
                $('input[name=rolename]').val(d.Result.RoleName);
                $('input[name=roleid]').val(d.Result.Id);
            }
        });
    }
</script>
